[Desktop Entry]
Version=1.0
Name=MX Debian Backports Installer
Name[ca]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[it]=
Name[ja]=
Name[nl]=
Name[ro]=
Name[ru]=
Name[sv]=
Comment=Install apps directly from Debian Backports Repository
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[ro]=
Comment[ru]=
Comment[sv]=
Exec=su-to-root -X -c mx-debian-backports-installer
Icon=application-x-deb
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Software;
