[Desktop Entry]
Version=1.0
Name=MX Debian Backports Installer
Name[ca]=MX Debian Backports Installer
Name[de]=MX Debian-Backports-Installer
Name[es]=MX Debian Backports instalador
Name[fr]=MX Installateur de Debian Backports
Name[it]=MX Installa da Debian Backports
Name[nl]=MX Debian Backports Installeerder
Name[ru]=MX Установщик Debian Backports
Name[sv]=MX Debian Backports Installerare
Comment=Install apps directly from Debian Backports Repository
Comment[ca]=Instal·la aplicacions directament des del dipòsit Debian Backports
Comment[de]=Apps direkt aus Debian-Backports installieren
Comment[es]=Instalar aplicaciones directamente del repositorio Debian Backports
Comment[fr]=Installer les applications directement du dépôt de Debian Backports
Comment[it]=Installare applicazioni direttamente dal repository Debian Backports
Comment[nl]=Installeer apps rechtstreeks vanuit de Debian-Backports
Comment[ru]=Установка приложений непосредственно из репозитория Debian Backports
Comment[sv]=Installera program direkt från Debian Backports förråd
Exec=su-to-root -X -c mx-debian-backports-installer
Icon=application-x-deb
Path=
Terminal=false
StartupNotify=false
Type=Application
Categories=System;MX-Software;
